name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  pre-build:
    environment: czekaj

    runs-on: ubuntu-latest

    steps:
      - run: echo "samo echo dla ${{github.repository_owner}}"

  build:
    needs: pre-build
    runs-on: ubuntu-latest

    outputs:
      test_results: ${{ steps.test-results.outputs.test_results }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          check-latest: true

      - name: "Zainstaluj zależności"
        run: npm install

      - name: Uruchom testy
        id: test
        run: npm test
        continue-on-error: true

      - name: "Zbieranie wynikow testów"
        id: test-results
        run: |
          if [ "${{steps.test.outcome}}" == "success" ]; then
            echo "test_results=passed" >> $GITHUB_OUTPUT
          else 
            echo "test_results=failed" >> $GITHUB_OUTPUT
          fi

  reults:
    needs: build
    if: always()
    runs-on: ubuntu-latest

    steps:
      - name: "Sprawdza wynik testów"
        run: |
          echo "Status testów z poprzedniego joba: ${{ needs.build.outputs.test_results }}"
          if [ "${{ needs.build.outputs.test_results }}" == 'failed' ]; then
            echo "Testy nie powiodły się"
          fi
