name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

jobs:
  xxx:
    environment: czekaj

    runs-on: ubuntu-latest

    steps:
      - run: echo "xxx"

  build:
    needs: xxx
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          check-latest: true

      - name: "Zainstaluj zależności"
        run: npm install

      - name: Uruchom testy
        run: npm test
